<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/uikit.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
	<title></title>
</head>
<body>
	<form action="{{ url_for('auth.register') }}" method="POST">
		{{ form.hidden_tag() }}
		<div>
			{{ form.first_name.label }}
			{{ form.first_name }}
		</div>
		<div>
			{{ form.username.label }}
			{{ form.username }}
		</div>
		<div>
			{{ form.email.label }}
			{{ form.email }}
		</div>
		<div>
			{{ form.password.label }}
			{{ form.password }}
		</div>
		<!--
		<div>
			<select>
				{% for value in form.genre.iter_choices() %}
				<option>{{ value }}</option>
				{% endfor %}
			</select>
		</div>
		<div>
			{{ form.date_birth.label }}
			{{ form.date_birth }}
		</div>
	-->
			{{ form.signUp() }}
	</form>
</body>
</html>
