*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
lib
include
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

*.egg-info/
.installed.cfg
*.egg

env
.venv
env/
venv/
ENV/