<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="{{ url_for('user_settings.edit_profile') }}" method="POST">
		{{ form.hidden_tag() }}
		<div>
			{{ form.first_name.label }}
			{{ form.first_name }}
		</div>
		<div>
			{{ form.last_name.label }}
			{{ form.last_name }}
		</div>
		<div>
			{{ form.about_me.label }}
			{{ form.about_me(cols=50, rows=4) }}
		</div>
		<div>
			{{ form.avatar.label }}
			{{ form.avatar }}
		</div>
		<div>
			{{ form.birthday.label }}
			{{ form.birthday }}
		</div>
		<div>
			{{ form.month_birth.label }}
			{{ form.month_birth }}
		</div>
		<div>
			{{ form.year_birth.label }}
			{{ form.year_birth }}
		</div>
		{{ form.update() }}
	</form>
</body>
</html>