<!DOCTYPE html>
<html>
<head>
	<title>Update password</title>
</head>
<body>
	<form method="POST" id="update-password">
		{{ form.hidden_tag() }}
		<div>
			{{ form.old_password.label }}
			{{ form.old_password }}
		</div>
		<div>
			{{ form.new_password.label }}
			{{ form.new_password }}
		</div>
		{{ form.update() }}
	</form>

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>
</body>
</html>
