{% extends "components/base.html" %}
{% block title %} {{ user.username }} {% endblock %}
{% block content %}
{% include "components/navbar.html" %}
<div>
	<h1>{{ user.username }}</h1>
	<h2>{{ user.first_name }}</h2>
	{% if user.avatar %}
		<img src="{{ url_for('users.media', filename=user.avatar) }}" alt="Imagem de perfil" class="ui small rounded image">
	{% else %}
		<img src="{{ url_for('static', filename='img/noavatar.png') }}" alt="Sem imagem de perfil">
	{% endif %}
	<h5>{{ user.status }}</h5>
	<h5>{{ user.phone }}</h5>
	<p>
		{{ user.about_me }}
	</p>
	{% if user == current_user %}

		{% include "components/modal.html" %}
		<button type="button" id="edit-profile">Editar perfil</button>

	{% endif %}
</div>
	<div class="ui container">
		<div class="ui grid">
			<div class="sixteen wide column">
				<div class="ui three stackable cards" id="posts">

				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	  <script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}
