{% extends "components/base.html" %}
{% block title %} Feed {% endblock %}
{% block content %}
{% include "components/navbar.html" %}
	<h1>Olá</h1>
	<div id="map"></div>
	<form id="form-new-post" enctype="multipart/form-data" method="POST">
		{{ form.hidden_tag() }}
		<div>
			{{ form.title.label }}
			{{ form.title }}
		</div>
		<div>
			{{ form.body.label }}
			{{ form.body }}
		</div>
		<div>
			{{ form.file.label }}
			{{ form.file(id='uploadedImage')}}
		</div>
		<img src="" id="uploadedPreview">
		<div>
			{{ form.tags }}
		</div>
		{{ form.save_post() }}
	</form>
	<p id="respostas"></p>
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/feed.js') }}"></script>
{% endblock %}
