*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	background-image: url("../img/heart_medium.jpg");
	background-repeat: no-repeat;
}

p{
	color: #FFFFFF;
}

#form-login{
	border: 1px solid black;
	width: 50%;
	float: right;
}

span {
	color: red;
}