<h2>Opa, {{ user.first_name }}!</h2>

<p> 
	Que bom ter você conosco, obrigado por se cadastrar. Estamos animados com todas as possibilidades de poder
 	contribuir positivamente no seu dia a dia.
</p>

<p>
	Pronto para começar a encarar a vida mais gentilmente, conhecer nossas pessoas e trocar experiências? Então, confirme a criação da sua conta clicando no link a baixo.
</p>

<p>
	<a href="{{ url_for('auth.confirm_email', token=token, _external=True) }}">Let's Go.</a>
</p>

<p>Abraços, beijos e todo o amor do mundo.</p>
<p>KindnessMap Team</p>