{% extends "base.html" %}
{% block content %}
<nav class=" navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Mapa da Gentileza</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<!--li class="active"><a href="#">Inicio</a></li-->
			</ul>
		</div>
	</div>
</nav>
<div class="container-full box-search">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<input id="pac-input" type="text" placeholder="Pesquise sua Cidade...">
			</div>
			<div class="col-md-6">
				<button id="novaGentileza" type="button">Criar uma Gentileza</button>	
			</div>
		</div>
	</div>
</div>
<!--map--><div id="map"></div>

<div id="myModal" class="modal">

	<!-- Modal content -->
	<div class="modal-content">
		<form id="myform" method="post">
			<span class="close">x</span>
			<p>Quem foi gentil com você? 
				<select name="tipo">
					<option value="1">Motorista</option>
					<option value="2">Motociclista</option>
					<option value="3">Pedrestre</option>
				</select></p>
				<textarea class="input-modal" name="descricao" rows="10" cols="50" placeholder="Descreva a gentileza"></textarea>
				<input class="input-modal" name="nome" type="text" placeholder="Seu nome(Opcional)" />
				<a class="btn-modal" href="javascript: submitform()">enviar</a>
			</form>
		</div>

	</div>
</div>
<script >
	var latitude;
	var longitude;

	var sLatitude = document.createElement("input");
	sLatitude.setAttribute("type", "hidden");
	var sLongitude = document.createElement("input");
	sLongitude.setAttribute("type", "hidden");

	var form = document.getElementById('myform');
	var map;

	function submitform()
	{
		sLatitude.name  = "latitude";
		sLatitude.value = latitude;
		sLongitude.name  = "longitude";
		sLongitude.value = longitude;
		form.appendChild(sLatitude);
		form.appendChild(sLongitude);
		form.submit();
		console.log("latitude:"+latitude);
	}

	function initAutocomplete() {
		var isDragging = false;
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: -33.8688, lng: 151.2195},
			zoom: 13,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		{% for gen in gentilezas %}
			var myLatLng = {lat: {{gen.latitude}},lng: {{gen.longitude}}};
		var marker = new google.maps.Marker({
			position: myLatLng,
			map: map,
			title: 'Hello World!'
		});
		{% endfor %}

	$('#novaGentileza').click(function(){
		isDragging = !isDragging;
		if(isDragging)
			map.setOptions({ draggableCursor : "url(http://s3.amazonaws.com/besport.com_images/status-pin.png), auto" })
		else
			map.setOptions({ draggableCursor : 'default' })
	});

	google.maps.event.addListener(map, "click", function (event) {
		if(isDragging){
			latitude = event.latLng.lat();
			longitude = event.latLng.lng();
			modal.style.display = "block";
			map.setOptions({ draggableCursor: 'default' });
			isDragging = false;
		}
	});
  // Create the search box and link it to the UI element.
  var input = document.getElementById('pac-input');
  var searchBox = new google.maps.places.SearchBox(input);
  //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  // Bias the SearchBox results towards current map's viewport.
  map.addListener('bounds_changed', function() {
  	searchBox.setBounds(map.getBounds());
  });

  var markers = [];
  // [START region_getplaces]
  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  searchBox.addListener('places_changed', function() {
  	var places = searchBox.getPlaces();

  	if (places.length == 0) {
  		return;
  	}

    // Clear out the old markers.
    markers.forEach(function(marker) {
    	marker.setMap(null);
    });
    markers = [];

    // For each place, get the icon, name and location.
    var bounds = new google.maps.LatLngBounds();
    places.forEach(function(place) {
    	var icon = {
    		url: place.icon,
    		size: new google.maps.Size(71, 71),
    		origin: new google.maps.Point(0, 0),
    		anchor: new google.maps.Point(17, 34),
    		scaledSize: new google.maps.Size(25, 25)
    	};

      // Create a marker for each place.
      markers.push(new google.maps.Marker({
      	map: map,
      	icon: icon,
      	title: place.name,
      	position: place.geometry.location
      }));

      if (place.geometry.viewport) {
        // Only geocodes have viewport.
        bounds.union(place.geometry.viewport);
    } else {
    	bounds.extend(place.geometry.location);
    }
});
    map.fitBounds(bounds);
});
  // [END region_getplaces]
}

//----------------------------------------------------------------------------------------
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("novaGentileza");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal 
btn.onclick = function() {
    //modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
	modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
	if (event.target == modal) {
		modal.style.display = "none";
	}
}



</script>
{% endblock %}